.datepicker {
    padding: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
    background-color: #1a1e21;
}
.datepicker-inline {
  width: 220px;
}
.datepicker-rtl {
  direction: rtl;
}
.datepicker-rtl.dropdown-menu {
  left: auto;
}
.datepicker-rtl table tr td span {
  float: right;
}
.datepicker-dropdown {
  top: 0;
  left: 0;
}
.datepicker-dropdown:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #999;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
}
.datepicker-dropdown:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #fff;
  border-top: 0;
  position: absolute;
}
.datepicker-dropdown.datepicker-orient-left:before {
  left: 6px;
}
.datepicker-dropdown.datepicker-orient-left:after {
  left: 7px;
}
.datepicker-dropdown.datepicker-orient-right:before {
  right: 6px;
}
.datepicker-dropdown.datepicker-orient-right:after {
  right: 7px;
}
.datepicker-dropdown.datepicker-orient-bottom:before {
  top: -7px;
}
.datepicker-dropdown.datepicker-orient-bottom:after {
  top: -6px;
}
.datepicker-dropdown.datepicker-orient-top:before {
  bottom: -7px;
  border-bottom: 0;
  border-top: 7px solid #999;
}
.datepicker-dropdown.datepicker-orient-top:after {
  bottom: -6px;
  border-bottom: 0;
  border-top: 6px solid #fff;
}
.datepicker table {
  margin: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.datepicker td,
.datepicker th {
    text-align: center;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: none;
    color: #ff7f50;
}
.table-striped .datepicker table tr td,
.table-striped .datepicker table tr th {
  background-color: transparent;
}
.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused {
    color: #1a1e21;
    background: #eee;
    cursor: pointer;
}
.datepicker table tr td.old,
.datepicker table tr td.new {
  color: #999;
}
.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
.datepicker table tr td.highlighted {
    background: #d9edf7;
    color: #1a1e21;
    border-radius: 0;
}
.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover {
  background-color: #fde19a;
  background-image: -moz-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -ms-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
  background-image: -webkit-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: -o-linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
  border-color: #fdf59a #fdf59a #fbed50;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #000;
}
.datepicker table tr td.today:hover,
.datepicker table tr td.today:hover:hover,
.datepicker table tr td.today.disabled:hover,
.datepicker table tr td.today.disabled:hover:hover,
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today:hover.disabled,
.datepicker table tr td.today.disabled.disabled,
.datepicker table tr td.today.disabled:hover.disabled,
.datepicker table tr td.today[disabled],
.datepicker table tr td.today:hover[disabled],
.datepicker table tr td.today.disabled[disabled],
.datepicker table tr td.today.disabled:hover[disabled] {
  background-color: #fdf59a;
}
.datepicker table tr td.today:active,
.datepicker table tr td.today:hover:active,
.datepicker table tr td.today.disabled:active,
.datepicker table tr td.today.disabled:hover:active,
.datepicker table tr td.today.active,
.datepicker table tr td.today:hover.active,
.datepicker table tr td.today.disabled.active,
.datepicker table tr td.today.disabled:hover.active {
  background-color: #e9ecef \9;
}
.datepicker table tr td.today:hover:hover {
  color: #000;
}
.datepicker table tr td.today.active:hover {
  color: #fff;
}
.datepicker table tr td.range,
.datepicker table tr td.range:hover,
.datepicker table tr td.range.disabled,
.datepicker table tr td.range.disabled:hover {
  background: #eee;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today,
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today.disabled:hover {
  background-color: #f3d17a;
  background-image: -moz-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -ms-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f3c17a), to(#f3e97a));
  background-image: -webkit-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: -o-linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-image: linear-gradient(to bottom, #f3c17a, #f3e97a);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c17a', endColorstr='#f3e97a', GradientType=0);
  border-color: #f3e97a #f3e97a #edde34;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.datepicker table tr td.range.today:hover,
.datepicker table tr td.range.today:hover:hover,
.datepicker table tr td.range.today.disabled:hover,
.datepicker table tr td.range.today.disabled:hover:hover,
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active,
.datepicker table tr td.range.today.disabled,
.datepicker table tr td.range.today:hover.disabled,
.datepicker table tr td.range.today.disabled.disabled,
.datepicker table tr td.range.today.disabled:hover.disabled,
.datepicker table tr td.range.today[disabled],
.datepicker table tr td.range.today:hover[disabled],
.datepicker table tr td.range.today.disabled[disabled],
.datepicker table tr td.range.today.disabled:hover[disabled] {
  background-color: #f3e97a;
}
.datepicker table tr td.range.today:active,
.datepicker table tr td.range.today:hover:active,
.datepicker table tr td.range.today.disabled:active,
.datepicker table tr td.range.today.disabled:hover:active,
.datepicker table tr td.range.today.active,
.datepicker table tr td.range.today:hover.active,
.datepicker table tr td.range.today.disabled.active,
.datepicker table tr td.range.today.disabled:hover.active {
  background-color: #efe24b \9;
}
.datepicker table tr td.selected,
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected.disabled:hover {
  background-color: #9e9e9e;
  background-image: -moz-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -ms-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#b3b3b3), to(#808080));
  background-image: -webkit-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: -o-linear-gradient(to bottom, #b3b3b3, #808080);
  background-image: linear-gradient(to bottom, #b3b3b3, #808080);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b3b3b3', endColorstr='#808080', GradientType=0);
  border-color: #808080 #808080 #595959;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.selected:hover,
.datepicker table tr td.selected:hover:hover,
.datepicker table tr td.selected.disabled:hover,
.datepicker table tr td.selected.disabled:hover:hover,
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active,
.datepicker table tr td.selected.disabled,
.datepicker table tr td.selected:hover.disabled,
.datepicker table tr td.selected.disabled.disabled,
.datepicker table tr td.selected.disabled:hover.disabled,
.datepicker table tr td.selected[disabled],
.datepicker table tr td.selected:hover[disabled],
.datepicker table tr td.selected.disabled[disabled],
.datepicker table tr td.selected.disabled:hover[disabled] {
  background-color: #808080;
}
.datepicker table tr td.selected:active,
.datepicker table tr td.selected:hover:active,
.datepicker table tr td.selected.disabled:active,
.datepicker table tr td.selected.disabled:hover:active,
.datepicker table tr td.selected.active,
.datepicker table tr td.selected:hover.active,
.datepicker table tr td.selected.disabled.active,
.datepicker table tr td.selected.disabled:hover.active {
  background-color: #666666 \9;
}
.datepicker table tr td.active,
.datepicker table tr td.active:hover,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #08c, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td.active:hover,
.datepicker table tr td.active:hover:hover,
.datepicker table tr td.active.disabled:hover,
.datepicker table tr td.active.disabled:hover:hover,
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active,
.datepicker table tr td.active.disabled,
.datepicker table tr td.active:hover.disabled,
.datepicker table tr td.active.disabled.disabled,
.datepicker table tr td.active.disabled:hover.disabled,
.datepicker table tr td.active[disabled],
.datepicker table tr td.active:hover[disabled],
.datepicker table tr td.active.disabled[disabled],
.datepicker table tr td.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datepicker table tr td.active:active,
.datepicker table tr td.active:hover:active,
.datepicker table tr td.active.disabled:active,
.datepicker table tr td.active.disabled:hover:active,
.datepicker table tr td.active.active,
.datepicker table tr td.active:hover.active,
.datepicker table tr td.active.disabled.active,
.datepicker table tr td.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span {
  display: block;
  width: 23%;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 1%;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker table tr td span:hover,
.datepicker table tr td span.focused {
  background: #eee;
}
.datepicker table tr td span.disabled,
.datepicker table tr td span.disabled:hover {
  background: none;
  color: #999;
  cursor: default;
}
.datepicker table tr td span.active,
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active.disabled:hover {
  background-color: #006dcc;
  background-image: -moz-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -ms-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08c), to(#0044cc));
  background-image: -webkit-linear-gradient(to bottom, #08c, #0044cc);
  background-image: -o-linear-gradient(to bottom, #08c, #0044cc);
  background-image: linear-gradient(to bottom, #08c, #0044cc);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08c', endColorstr='#0044cc', GradientType=0);
  border-color: #0044cc #0044cc #002a80;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker table tr td span.active:hover,
.datepicker table tr td span.active:hover:hover,
.datepicker table tr td span.active.disabled:hover,
.datepicker table tr td span.active.disabled:hover:hover,
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active,
.datepicker table tr td span.active.disabled,
.datepicker table tr td span.active:hover.disabled,
.datepicker table tr td span.active.disabled.disabled,
.datepicker table tr td span.active.disabled:hover.disabled,
.datepicker table tr td span.active[disabled],
.datepicker table tr td span.active:hover[disabled],
.datepicker table tr td span.active.disabled[disabled],
.datepicker table tr td span.active.disabled:hover[disabled] {
  background-color: #0044cc;
}
.datepicker table tr td span.active:active,
.datepicker table tr td span.active:hover:active,
.datepicker table tr td span.active.disabled:active,
.datepicker table tr td span.active.disabled:hover:active,
.datepicker table tr td span.active.active,
.datepicker table tr td span.active:hover.active,
.datepicker table tr td span.active.disabled.active,
.datepicker table tr td span.active.disabled:hover.active {
  background-color: #003399 \9;
}
.datepicker table tr td span.old,
.datepicker table tr td span.new {
  color: #999;
}
.datepicker .datepicker-switch {
    width: 145px;
    color: #ffe4c4;
}
.datepicker .datepicker-switch,
.datepicker .prev,
.datepicker .next,
.datepicker tfoot tr th {
  cursor: pointer;
}
.datepicker .datepicker-switch:hover,
.datepicker .prev:hover,
.datepicker .next:hover,
.datepicker tfoot tr th:hover {
  color: #fedf9b;
  background: #767676;
}
.datepicker .prev.disabled,
.datepicker .next.disabled {
  visibility: hidden;
}
.datepicker .cw {
  font-size: 10px;
  width: 12px;
  padding: 0 2px 0 5px;
  vertical-align: middle;
}
.input-append.date .add-on,
.input-prepend.date .add-on {
  cursor: pointer;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  margin-top: 3px;
}
.input-daterange input {
  text-align: center;
}
.input-daterange input:first-child {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.input-daterange input:last-child {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
.input-daterange .add-on {
  display: inline-block;
  width: auto;
  min-width: 16px;
  height: 18px;
  padding: 4px 5px;
  font-weight: normal;
  line-height: 18px;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  vertical-align: middle;
  background-color: #eee;
  border: 1px solid #ccc;
  margin-left: -5px;
  margin-right: -5px;
}

.videoplayer {
  position: relative;
  display: block;
}
.videoplayer video {
  max-width: 100%;
  max-height: 100%;
}
.videoplayer .controls {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100%;
  align-items: center;
  bottom: 0;
  background-color: #eee;
}
.videoplayer .controls .progress {
  background-color: #333;
}
.videoplayer .controls .progress .progress-bar {
  transition: none !important;
  background-color: #666;
}
.videoplayer .controls.controls-light .bi {
  color: #2b2b2b;
}
.videoplayer .controls.controls-dark {
  background-color: #2b2b2b;
}
.videoplayer .controls.controls-dark .bi {
  color: #eee;
}
.videoplayer .controls.controls-dark .progress {
  background-color: #ccc;
}
.videoplayer .controls.controls-dark .progress .progress-bar {
  background-color: #999;
}
.videoplayer .controls.auto-hide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  transition-delay: 0.5s;
}
.videoplayer .controls button > *,
.videoplayer .controls .btn > * {
  pointer-events: none !important;
}
.videoplayer .overlay {
  position: absolute;
  z-index: 300;
  top: 0;
  left: 0;
}
.videoplayer .overlay .title {
  font-size: inherit;
  color: white;
  padding: 0.5rem;
  font-weight: bold;
}
.videoplayer .dropup-volume {
  position: absolute !important;
  bottom: calc(100% + 5px) !important;
  padding: 0.75rem 1rem;
  transform: none !important;
  min-width: inherit;
}
.videoplayer .dropup-volume .form-range {
  -webkit-appearance: slider-vertical;
  width: 1rem !important;
  height: 100% !important;
}
.videoplayer:hover .controls.auto-hide {
  opacity: 1;
}

.tooltip {
  z-index: 1400;
}


input, textarea {
    color: #cfcfcf;
    background: #212529;
}
.navbar-menu-btn-expand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

element.style {
    display: flex;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.input-text-form-style {
    margin-left: 15px;
    color: #9e9e9e;
    background: #212529;
    border: none;
}
.input-text-form-style:focus, .input-text-form-style:active {
    color: #cfcfcf;
    background: #212529;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.15rem;
}
.btn-outline-success {
    color: #ff9800;
    border-color: #ffbe44;
}
.btn-outline-success:focus {
    color: #ffffff;
    border-color: #ffbe44;
    background-color: #ff8d00;
}
.navbar-brand {
    padding-bottom: .3125rem;
    margin: 0px 35px 0px 25px;
    font-size: 1.25rem;
    text-decoration: solid;
    white-space: nowrap;
    font-size: larger;
}
.navbar-dark .navbar-brand {
    color: #ff9800;
    background-color: transparent;
}

.alert {
    position: relative;
    padding: 5px 0px 10px 20px;
    margin-bottom: 0px;
}
.alert-dark {
    color: #ff5722;
    background-color: #212529;
    border-color: #373b3e;
}
.me-2 {
    margin: 0px 5px 0px 15px;
}

.btn-dark {
    color: #9e9e9e;
}
.btn-dark:hover {
   color: #ff9800;
}

.btnclose-carusel {
    color: #ff5722;
    margin: -30px 20px 0px 0px;
    float: right;
}
.btnclose-container {
    display: inline-flex;
    justify-content: center;
    align-items: self-end;
    align-content: flex-end;
    flex-direction: row;
    font-size: larger;
    padding-top: 5px;
}
.textclose-container {
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}
.btninfo-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}

.btninfo-container a:hover,
.btninfo-container a:focus,
.btninfo-container a:focus-visible,
.btnclose-container a:hover,
.btnclose-container a:focus,
.btnclose-container a:focus-visible {
    color: #ff5722;
    text-decoration: none;
}

.coral-title-box {
    color: #ff5722;
    text-decoration: none;
}
.coral-title-box a {
    color: #e76e48;
    text-decoration: none;
}
.coral-title-box a:hover,
.coral-title-box a:focus-visible {
    color: #ffbe44;
    text-decoration: none;
}

.urls-path,
.urls-path:visited,
.urls-path a:visited,
.urls-path:any-link,
.urls-path a:any-link {
    color: #ff9800;
    border-color: #ffbe44;
    padding-top: 12px;
    font-size: 1.25rem;
    text-decoration: solid;
    white-space: nowrap;
    font-size: larger;
}
.urls-path a:hover,
.urls-path a:focus-visible,
.urls-path:hover,
.urls-path:focus-visible,
.sort-style a:visited,
.sort-style a:any-link,
.btnfiles-style a:hover,
.btnfiles-style a:focus,
.btnfiles-style a:focus-visible,
.btnclose-container a:visited,
.btnclose-container a:any-link,
#ctrlAudioBackward:hover,
#ctrlAudioBackward:focus,
#ctrlAudioBackward:focus-visible,
#ctrlAudioForward:hover,
#ctrlAudioForward:focus,
#ctrlAudioForward:focus-visible,
#ctrlAudioStop2:hover,
#ctrlAudioStop2:focus,
#ctrlAudioStop2:focus-visible,
#listMediaDirs a:hover,
#listMediaDirs a:focus-visible,
#listMediaDirs a:visited,
#listMediaDirs a:any-link,
#listLocalHistory a:hover,
#listLocalHistory a:focus-visible,
#listLocalHistory a:visited,
#listLocalHistory a:any-link,
#listLocalHistoryClear a:hover,
#listLocalHistoryClear a:focus-visible,
#listLocalHistoryClear a:visited,
#listLocalHistoryClear a:any-link,
#listMediaFile a:hover,
#listMediaFile a:focus-visible,
#listMediaFile a:visited,
#listMediaFile a:any-link {
    color: #ffffff;
    text-decoration: none;
}

.sort-style a:hover,
.sort-style a:focus,
.sort-style a:focus-visible {
    color: #d4830d;
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
        float: left;
        padding-right: 1px;
        color: #d4830d;
        content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 1px;
}
.btn-text {
    font-size: small;
    padding: 0px 10px 0px 10px;
    font-variant: all-petite-caps;
}
.media-btn {
    position: relative;
    float: left;
    align-items: center;
    margin: 6px 10px 0px 10px;
}
.form-style {
   margin-top: 10px;
}

.sort-style {
    color: #ffffff;
    font-size: larger;
    padding-left: 5px;
}
.btnfiles-style,
.btnfiles-style a:any-link,
.btnfiles-style a:visited {
    color: #607d8b;
    margin-left: 10px;
}

.btnenable {
    display:flex;
}
.btndisable {
    display: none;
}
.btn-ison,
.btn-ison:visited,
.btn-ison:any-link,
.btn-ison:hover,
.btn-ison:focus,
.btn-ison:focus-visible {
    color: #ffffff;
    text-decoration: none;
}
.filesinfo {
    margin: 0px 0px 0px 250px;
    font-stretch: normal;
    font-size: smaller;
    color: #706332;
}

.footer-info {
    color: #9e9e9e;
    margin: 0px 15px 0px 15px;
    font-size: large;
}

.footer-info a:focus,
.footer-info a:focus-visible,
.footer-info a:any-link,
.footer-info a:hover {
    color: #9e9e9e;
    text-decoration: none;
}

.footer-up-button {
    font-size: -webkit-xxx-large;
    border: none;
    color: #dcd5d5;
}
.footer-up-button:focus,
.footer-up-button:focus-visible,
.footer-up-button:any-link,
.footer-up-button:hover {
    color: #dcd5d5;
    text-decoration: none;
}

#spinnerTop {
    margin-left: 10px;
    margin-top: 3px;
}
#listTime {
    color: darkgrey;
}
#listSize {
    color: coral;
}

#ctrlAudioForward,
#ctrlAudioBackward,
#ctrlAudioStop2,
#ctrlAudioBackward:visited,
#ctrlAudioForward:visited,
#ctrlAudioStop2:visited {
    color: #ff9800;
    font-size: large;
    text-decoration: none;
}
.audio-setting-button,
.audio-setting-button:visited {
    color: darkgrey;
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
.audio-setting-button:hover,
.audio-setting-button:focus-visible {
    color: #ffffff;
}
.audio-setting-select {
    color: #fde0ba;
    padding: 0px 20px 0px 20px;
}
.audio-setting-context {
    margin-top: 10px;
}
.audio-setting-context-ele {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fde0ba;
}
.audio-setting-context-label {
    margin: 1px;
    padding: 0px 5px 0px 15px;
}

#listMediaDirs, #listMediaFile, #listLocalHistory, #listLocalHistoryClear {
    padding-left: 15px;
    color: #ffffff;
    white-space: nowrap;
    text-decoration: none;
}

.audio-header-title {
    color: bisque;
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}

.date-picker {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.date-picker input {
    height: 25px;
    padding: 2px;
    margin-left: 10px;
    vertical-align: middle;
}

.date-picker .date-picker-icon {
    vertical-align: middle;
    padding: 8px 0px 8px 4px;
}

.login-button-group {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    float: right;
    padding: 10px;
    align-content: center;
}

.app-install-footer {
    display: inline-block;
    vertical-align: text-bottom;
    min-width: max-content;
    width: max-content;
    padding: 30px;
}
.app-install-footer a,
.app-install-footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
.app-install-footer a:hover,
.app-install-footer a:focus-visible {
    color: coral;
    text-decoration: none;
}

.menu-list-footer,
.menu-list-footer a:visited {
    color: coral;
    text-decoration: none;
}
.menu-list-footer a:hover,
.menu-list-footer a:focus-visible {
    color: #ffffff;
    text-decoration: none;
}

.app-progress-style {
    margin-top: 10px;
    height: 12px;
}
.app-progress-bar-style {
    color: #212529;
    height: 12px;
}

.app-audio-infobox-head {
    color: #df3f33;
}
.app-audio-infobox-context {
    color: #f1e4bb;
    padding-left: 20px;
}

.form-range::-webkit-slider-thumb:active {
    background-color: #ffc107;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #ffc107;
}

.form-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #ffc107;
}

.form-floating-input {
    background: transparent;
    color: #fff;
    width: 100%;
    min-height: 50px;
}
.form-floating-label {
    opacity: .65;
    transform: scale(.85) translateY(-1.3rem) translateX(-0.2rem);
}
.form-box-radio {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.form-switch {
    padding-left: 2.5em;
    margin: 10px 20px 10px 10px;
    color: darkgray;
}
.form-box-radio-labeled {
    margin: 0px 15px 0px 15px;
    color: darkgray;
    font-size: small;
}
.form-box-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}
.form-box-icon {
    margin: 10px;
    color: #ff9800;
}
.icon-image-border-style {
    max-height: 50px;
    border-color: gray;
    border-style: dotted;
    padding: 2px;
    border-width: thin;
    cursor: pointer;
}
.icon-image-preview-style {

}
.form-check-input {
    background-color: #e7e5e5;
    border: 1px solid #8b7160;
}
.form-check-input:focus {
    background-color: #fff;
    border: 1px solid #cf4238d6;
}
.form-check-input:checked {
    background-color: #ff9800;
    border-color: #ffbe44;
}

.modal-content {
    color: antiquewhite;
    background-color: #111315;
    background-clip: padding-box;
    border: 1px solid #424242;
}
.modal-content button {
    color: #f19800;
    background-color: #111315;
    border: none;
}
.modal-title {
    color: #f16725;
}
.modal-header {
    border: none;
    padding: 5px 10px 5px 20px;
}
.modal-body {
    padding: 5px;
}

.table-header-style {
    font-size: smaller;
    color: #9e9e9e;
}

@media all and (display-mode: standalone) {
    .app-install-footer {
        display: none;
    }
}
.margin-nfo-style {
    margin-top: 8px;
    padding: 2px;
}

.table-nfo-style {
}

.list-nfo-style {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

.right-container-nfo-style {
    display: grid;
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.btn-right-nfo-style {
    color: #000;
    background-color: #ffc107;
    border-color: #ff5722;
}

.btn-close-nfo-style {
    color: #fff;
    background-color: #d54c21;
    border-color: #ffc107;
}

.text-nfo-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titles-nfo-style {
}

.titles-body {
    color: #ff9800;
}

.titles-body-first {
    font-size: xx-large;
}

.titles-body-next {
    font-size: x-large;
    color: #ff9800bd;
}

.actors-nfo-style {
    color: coral;
    padding: 4px;
}

.actors-nfo-style a {
    font-size: medium;
    color: coral;
    text-decoration: none;
}

.actors-nfo-style a:hover {
    color: #fff;
}

.list-item-nfo-style {
}

.line-item-nfo-style {
    color: #ffb150;
}

.raiting-nfo-style {
}

.icon-10-nfo-style {
    font-size: larger;
    margin: 10px;
}

.icon-7-nfo-style {
    font-size: larger;
    margin: 7px;
}

.img-nfo-style {
    margin: 10px;
}

.genre-nfo-style {
    display: inline-block;
    color: #ffc107;
    margin-bottom: 10px;
}

.ratelink-nfo-style {
    color: #ffc10794;
}

.ratelink-nfo-style a {
    color: #ffc10794;
    text-decoration: none;
}

.ratelink-nfo-style a:hover {
    color: #ffc107;
}

.video-info-nfo-style, .audio-info-nfo-style, .file-info-nfo-style {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: antiquewhite;
}

.details-info-nfo-style {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.details-info-ele-nfo-style {
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-size: larger;
}
