﻿
input, textarea {
    color: #cfcfcf;
    background: #212529;
}
.navbar-menu-btn-expand {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: space-around;
    justify-content: space-around;
}

element.style {
    display: flex;
}

button:focus:not(:focus-visible) {
    outline: 0;
}

.input-text-form-style {
    margin-left: 15px;
    color: #9e9e9e;
    background: #212529;
    border: none;
}
.input-text-form-style:focus, .input-text-form-style:active {
    color: #cfcfcf;
    background: #212529;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.55);
    border-color: rgba(255,255,255,.1);
}
.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0.15rem;
}
.btn-outline-success {
    color: #ff9800;
    border-color: #ffbe44;
}
.btn-outline-success:focus {
    color: #ffffff;
    border-color: #ffbe44;
    background-color: #ff8d00;
}
.navbar-brand {
    padding-bottom: .3125rem;
    margin: 0px 35px 0px 25px;
    font-size: 1.25rem;
    text-decoration: solid;
    white-space: nowrap;
    font-size: larger;
}
.navbar-dark .navbar-brand {
    color: #ff9800;
    background-color: transparent;
}

.alert {
    position: relative;
    padding: 5px 0px 10px 20px;
    margin-bottom: 0px;
}
.alert-dark {
    color: #ff5722;
    background-color: #212529;
    border-color: #373b3e;
}
.me-2 {
    margin: 0px 5px 0px 15px;
}

.btn-dark {
    color: #9e9e9e;
}
.btn-dark:hover {
   color: #ff9800;
}

.btnclose-carusel {
    color: #ff5722;
    margin: -30px 20px 0px 0px;
    float: right;
}
.btnclose-container {
    display: inline-flex;
    justify-content: center;
    align-items: self-end;
    align-content: flex-end;
    flex-direction: row;
    font-size: larger;
    padding-top: 5px;
}
.textclose-container {
    width: 95%;
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
}
.btninfo-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: flex-end;
}

.btninfo-container a:hover,
.btninfo-container a:focus,
.btninfo-container a:focus-visible,
.btnclose-container a:hover,
.btnclose-container a:focus,
.btnclose-container a:focus-visible {
    color: #ff5722;
    text-decoration: none;
}

.coral-title-box {
    color: #ff5722;
    text-decoration: none;
}
.coral-title-box a {
    color: #e76e48;
    text-decoration: none;
}
.coral-title-box a:hover,
.coral-title-box a:focus-visible {
    color: #ffbe44;
    text-decoration: none;
}

.urls-path,
.urls-path:visited,
.urls-path a:visited,
.urls-path:any-link,
.urls-path a:any-link {
    color: #ff9800;
    border-color: #ffbe44;
    padding-top: 12px;
    font-size: 1.25rem;
    text-decoration: solid;
    white-space: nowrap;
    font-size: larger;
}
.urls-path a:hover,
.urls-path a:focus-visible,
.urls-path:hover,
.urls-path:focus-visible,
.sort-style a:visited,
.sort-style a:any-link,
.btnfiles-style a:hover,
.btnfiles-style a:focus,
.btnfiles-style a:focus-visible,
.btnclose-container a:visited,
.btnclose-container a:any-link,
#ctrlAudioBackward:hover,
#ctrlAudioBackward:focus,
#ctrlAudioBackward:focus-visible,
#ctrlAudioForward:hover,
#ctrlAudioForward:focus,
#ctrlAudioForward:focus-visible,
#ctrlAudioStop2:hover,
#ctrlAudioStop2:focus,
#ctrlAudioStop2:focus-visible,
#listMediaDirs a:hover,
#listMediaDirs a:focus-visible,
#listMediaDirs a:visited,
#listMediaDirs a:any-link,
#listLocalHistory a:hover,
#listLocalHistory a:focus-visible,
#listLocalHistory a:visited,
#listLocalHistory a:any-link,
#listLocalHistoryClear a:hover,
#listLocalHistoryClear a:focus-visible,
#listLocalHistoryClear a:visited,
#listLocalHistoryClear a:any-link,
#listMediaFile a:hover,
#listMediaFile a:focus-visible,
#listMediaFile a:visited,
#listMediaFile a:any-link {
    color: #ffffff;
    text-decoration: none;
}

.sort-style a:hover,
.sort-style a:focus,
.sort-style a:focus-visible {
    color: #d4830d;
    text-decoration: none;
}
.breadcrumb-item + .breadcrumb-item::before {
        float: left;
        padding-right: 1px;
        color: #d4830d;
        content: var(--bs-breadcrumb-divider, "/");
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 1px;
}
.btn-text {
    font-size: small;
    padding: 0px 10px 0px 10px;
    font-variant: all-petite-caps;
}
.media-btn {
    position: relative;
    float: left;
    align-items: center;
    margin: 6px 10px 0px 10px;
}
.form-style {
   margin-top: 10px;
}

.sort-style {
    color: #ffffff;
    font-size: larger;
    padding-left: 5px;
}
.btnfiles-style,
.btnfiles-style a:any-link,
.btnfiles-style a:visited {
    color: #607d8b;
    margin-left: 10px;
}

.btnenable {
    display:flex;
}
.btndisable {
    display: none;
}
.btn-ison,
.btn-ison:visited,
.btn-ison:any-link,
.btn-ison:hover,
.btn-ison:focus,
.btn-ison:focus-visible {
    color: #ffffff;
    text-decoration: none;
}
.filesinfo {
    margin: 0px 0px 0px 250px;
    font-stretch: normal;
    font-size: smaller;
    color: #706332;
}

.footer-info {
    color: #9e9e9e;
    margin: 0px 15px 0px 15px;
    font-size: large;
}

.footer-info a:focus,
.footer-info a:focus-visible,
.footer-info a:any-link,
.footer-info a:hover {
    color: #9e9e9e;
    text-decoration: none;
}

.footer-up-button {
    font-size: -webkit-xxx-large;
    border: none;
    color: #dcd5d5;
}
.footer-up-button:focus,
.footer-up-button:focus-visible,
.footer-up-button:any-link,
.footer-up-button:hover {
    color: #dcd5d5;
    text-decoration: none;
}

#spinnerTop {
    margin-left: 10px;
    margin-top: 3px;
}
#listTime {
    color: darkgrey;
}
#listSize {
    color: coral;
}

#ctrlAudioForward,
#ctrlAudioBackward,
#ctrlAudioStop2,
#ctrlAudioBackward:visited,
#ctrlAudioForward:visited,
#ctrlAudioStop2:visited {
    color: #ff9800;
    font-size: large;
    text-decoration: none;
}
.audio-setting-button,
.audio-setting-button:visited {
    color: darkgrey;
    padding: 0px 0px 0px 15px;
    text-decoration: none;
}
.audio-setting-button:hover,
.audio-setting-button:focus-visible {
    color: #ffffff;
}
.audio-setting-select {
    color: #fde0ba;
    padding: 0px 20px 0px 20px;
}
.audio-setting-context {
    margin-top: 10px;
}
.audio-setting-context-ele {
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-end;
    color: #fde0ba;
}
.audio-setting-context-label {
    margin: 1px;
    padding: 0px 5px 0px 15px;
}

#listMediaDirs, #listMediaFile, #listLocalHistory, #listLocalHistoryClear {
    padding-left: 15px;
    color: #ffffff;
    white-space: nowrap;
    text-decoration: none;
}

.audio-header-title {
    color: bisque;
    display: inline-flex;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: stretch;
}

.date-picker {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
}

.date-picker input {
    height: 25px;
    padding: 2px;
    margin-left: 10px;
    vertical-align: middle;
}

.date-picker .date-picker-icon {
    vertical-align: middle;
    padding: 8px 0px 8px 4px;
}

.login-button-group {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    float: right;
    padding: 10px;
    align-content: center;
}

.app-install-footer {
    display: inline-block;
    vertical-align: text-bottom;
    min-width: max-content;
    width: max-content;
    padding: 30px;
}
.app-install-footer a,
.app-install-footer a:visited {
    color: #ffffff;
    text-decoration: none;
}
.app-install-footer a:hover,
.app-install-footer a:focus-visible {
    color: coral;
    text-decoration: none;
}

.menu-list-footer,
.menu-list-footer a:visited {
    color: coral;
    text-decoration: none;
}
.menu-list-footer a:hover,
.menu-list-footer a:focus-visible {
    color: #ffffff;
    text-decoration: none;
}

.app-progress-style {
    margin-top: 10px;
    height: 12px;
}
.app-progress-bar-style {
    color: #212529;
    height: 12px;
}

.app-audio-infobox-head {
    color: #df3f33;
}
.app-audio-infobox-context {
    color: #f1e4bb;
    padding-left: 20px;
}

.form-range::-webkit-slider-thumb:active {
    background-color: #ffc107;
}

.form-range::-webkit-slider-runnable-track {
    background-color: #ffc107;
}

.form-range::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    background-color: #ffc107;
}

.form-floating-input {
    background: transparent;
    color: #fff;
    width: 100%;
    min-height: 50px;
}
.form-floating-label {
    opacity: .65;
    transform: scale(.85) translateY(-1.3rem) translateX(-0.2rem);
}
.form-box-radio {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.form-switch {
    padding-left: 2.5em;
    margin: 10px 20px 10px 10px;
    color: darkgray;
}
.form-box-radio-labeled {
    margin: 0px 15px 0px 15px;
    color: darkgray;
    font-size: small;
}
.form-box-container {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%
}
.form-box-icon {
    margin: 10px;
    color: #ff9800;
}
.icon-image-border-style {
    max-height: 50px;
    border-color: gray;
    border-style: dotted;
    padding: 2px;
    border-width: thin;
    cursor: pointer;
}
.icon-image-preview-style {

}
.form-check-input {
    background-color: #e7e5e5;
    border: 1px solid #8b7160;
}
.form-check-input:focus {
    background-color: #fff;
    border: 1px solid #cf4238d6;
}
.form-check-input:checked {
    background-color: #ff9800;
    border-color: #ffbe44;
}

.modal-content {
    color: antiquewhite;
    background-color: #111315;
    background-clip: padding-box;
    border: 1px solid #424242;
}
.modal-content button {
    color: #f19800;
    background-color: #111315;
    border: none;
}
.modal-title {
    color: #f16725;
}
.modal-header {
    border: none;
    padding: 5px 10px 5px 20px;
}
.modal-body {
    padding: 5px;
}

.table-header-style {
    font-size: smaller;
    color: #9e9e9e;
}

@media all and (display-mode: standalone) {
    .app-install-footer {
        display: none;
    }
}