.margin-nfo-style {
    margin-top: 8px;
    padding: 2px;
}

.table-nfo-style {
}

.list-nfo-style {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    justify-content: center;
}

.right-container-nfo-style {
    display: grid;
    justify-items: stretch;
    align-content: center;
    align-items: center;
}

.btn-right-nfo-style {
    color: #000;
    background-color: #ffc107;
    border-color: #ff5722;
}

.btn-close-nfo-style {
    color: #fff;
    background-color: #d54c21;
    border-color: #ffc107;
}

.text-nfo-style {
    margin-top: 10px;
    margin-bottom: 10px;
}

.titles-nfo-style {
}

.titles-body {
    color: #ff9800;
}

.titles-body-first {
    font-size: xx-large;
}

.titles-body-next {
    font-size: x-large;
    color: #ff9800bd;
}

.actors-nfo-style {
    color: coral;
    padding: 4px;
}

.actors-nfo-style a {
    font-size: medium;
    color: coral;
    text-decoration: none;
}

.actors-nfo-style a:hover {
    color: #fff;
}

.list-item-nfo-style {
}

.line-item-nfo-style {
    color: #ffb150;
}

.raiting-nfo-style {
}

.icon-10-nfo-style {
    font-size: larger;
    margin: 10px;
}

.icon-7-nfo-style {
    font-size: larger;
    margin: 7px;
}

.img-nfo-style {
    margin: 10px;
}

.genre-nfo-style {
    display: inline-block;
    color: #ffc107;
    margin-bottom: 10px;
}

.ratelink-nfo-style {
    color: #ffc10794;
}

.ratelink-nfo-style a {
    color: #ffc10794;
    text-decoration: none;
}

.ratelink-nfo-style a:hover {
    color: #ffc107;
}

.video-info-nfo-style, .audio-info-nfo-style, .file-info-nfo-style {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    color: antiquewhite;
}

.details-info-nfo-style {
    display: flex;
    align-content: center;
    margin-bottom: 20px;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    margin-bottom: 10px;
}

.details-info-ele-nfo-style {
    display: flex;
    justify-content: flex-start;
    font-size: larger;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    font-size: larger;
}
